<div class="annotation-stack labelrepo-card"
     data-start-char="{{ annotation_stack["start_char"] }}"
     data-end-char="{{ annotation_stack["end_char"] }}" >
    <div class="label-cluster">
        {% for anno in annotation_stack["annotations"] %}
        <div class="label-and-extra-data" style="--label-color: {{ anno['label_color'] }};" >
            <div class="label-name">
                {{ anno["label_name"] }}
            </div>
            {% if anno["extra_data"] %}
            <div class="extra-data">
                {{ anno["extra_data"] }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div>
        {{ annotation_stack["prefix"] }}
        <highlight>{{ annotation_stack["selected_text"] }}</highlight>
        {{ annotation_stack["suffix"] }}
    </div>
</div>
