<html>

<head>
    <title>Live participants report</title>
    <style>
        {% include "participants.css" %}
    </style>
    <script>
     {% include "hide_show_annotations.js"%}
    </script>
    <script>
     window.addEventListener("DOMContentLoaded", () => {
         const websocket = new WebSocket("ws://localhost:{{ port }}/");

         websocket.onmessage = ({data}) => {
             const activeElems = document.querySelectorAll(
                 "*[data-annotation-stack-is-shown='true']");
             const detailsElem = document.querySelector("details");
             let detailsOpen = false;
             if (detailsElem !== null && detailsElem.hasAttribute("open")){
                 detailsOpen = true;
             }
             document.getElementById("live-report-content").innerHTML = data;
             addDetailsEvents();
             if (detailsOpen) {
                 const details = document.querySelector("details");
                 if(details !== null){
                     details.setAttribute("open", "");
                 }
             }
             if (! activeElems.length){
                 return;
             }
             let reactivate = document.getElementById(activeElems[0].id);
             if (reactivate !== null){
                 showBuddy(reactivate);
             }
         };

         websocket.onclose = (event) => {
           document.getElementById("live-report-content")
                   .innerHTML = (
                     "<p>This annotation live report has been shut down. "
                     + "Please reload this page after starting a new report "
                     + "at <code>localhost:{{ port }}</code>. </p>");
         };
     });
    </script>
</head>

<body>
    <main id=live-report-content >
        <p>
            Waiting for connection to the live annotation report server
            (please make sure one is running at port
            <code>localhost:{{ port }}</code> and reload this page).
        </p>
    </main>
</body>

</html>
