<html>

<head>
    <title>Participant demographics</title>
    <style>
        {% include "participants.css" %}
    </style>
    <script>
     window.addEventListener("DOMContentLoaded", () => {
         const websocket = new WebSocket("ws://localhost:{{ port }}/");

         websocket.onmessage = ({data}) => {
           document.getElementById("live-report-content")
                   .innerHTML = data;
         };

         websocket.onclose = (event) => {
           document.getElementById("live-report-content")
                   .innerHTML = (
                     "<p>This annotation live report has been shut down. "
                     + "Please reload this page after starting a new report "
                     + "at <code>localhost:{{ port }}</code>. </p>");
         };
     });
    </script>
</head>

<body>
    <main id=live-report-content >
        <p>
            Waiting for connection to the live annotation report server
            (please make sure one is running at port
            <code>localhost:{{ port }}</code> and reload this page).
        </p>
    </main>
</body>

</html>
