{% macro sourced(attribute, doc, id, fmt='{}') %}
{% if attribute.sources %}
    <span id="{{ id | md5 }}-{{ doc['doc_uid'] }}"
          class="labelrepo-clickable labelrepo-sourced-value"
          onclick="showBuddy(this)"
          data-reason-as-json='{{ attribute.reason | tojson if attribute.reason }}'
          data-reason-target-id="selected-sourced-reason-doc-{{ doc["doc_uid"] }}"
          data-doc-id="doc-{{ doc['doc_uid'] }}"
          data-annotation-stack-ids="
            {%- for source in attribute.sources -%}
            {%- if not loop.first -%}
            ,
            {%- endif -%}
            anno-{{ source["start_char"] }}-{{ source["end_char"] }}-{{ doc["doc_uid"] -}}
        {%- endfor -%}
        " >
{%- endif -%}
{{ ("{:.4g}" if (fmt == '{}' and attribute.value is float) else fmt).format(attribute.value if not(attribute is none) else "?") }}
{%- if attribute.sources -%}
    </span>
{%- endif -%}
{% endmacro %}

{% macro label_color_style() %}
    {%- if label_colors -%}
style="
    {%- for (name, rgb) in label_colors.items() -%}
    --label-color-{{ name }}: rgba({{ "{}, {}, {}, 0.3".format(*rgb) }});
    {%- endfor -%}
"
    {%- endif -%}
{% endmacro %}

{% if standalone %}
<!DOCTYPE html>
<html>
    <head>
        <title>Participant demographics</title>
        <style>
         {% include "participants.css" %}
        </style>
    </head>
    <body>
        <main class="participants-report">
            <div class="labelrepo-flow labelrepo-wrapper" {{ label_color_style() }}>
            <header class="report-header">
                <h1>{{ "Participant demographics" if title is undefined else title }}</h1>
                <p>
                    Information collected from
                    <strong>{{ documents | length }}</strong> documents
                    {%- if annotator_name %}
                    annotated by <strong><code>{{ annotator_name }}</code></strong>
                    {%- endif -%}
                    {%- if project_name %}
                    in <strong><code>{{ project_name }}</code></strong>
                    {%- endif -%}
                    .
                </p>
            </header>
{% else %}
            <div class="participants-report">
                <div class="labelrepo-flow labelrepo-wrapper" {{ label_color_style() }}>
{% endif %}
                    {% if not noscript %}
                    <script>
                    {% include "hide_show_annotations.js" %}
                    </script>
                    {% endif %}
            {% for doc in documents %}
            <article id="doc-{{ doc["doc_uid"] }}" class="doc-participants labelrepo-card"
                     {% if doc["participants"] and doc["participants"].tree.attributes["count"] -%}
                      data-has-valid-annotations
                     {%- endif %}
                     {{ "data-has-warnings" if doc["warnings"] }}
                     {{ "data-extraction-failure" if doc["extraction_failed"] }} >
                <header class="labelrepo-flow">
                    <h2><span class="labelrepo-unselectable">PMC</span>{{ doc["pmcid"] }}</h2>
                    <p>
                        See article on <a target="_blank"
                           href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC{{ doc["pmcid"] }}"
                        >PMC</a>
                    </p>
                    <p>
                        {% if "position_in_labelbuddy_file" in doc and not no_doc_positions %}
                        Doc #{{ doc["position_in_labelbuddy_file"] + 1 }} in
                        <code>{{ doc["labelbuddy_file"] }}</code>
                        {% else %}
                        Labelled by <code>{{ doc["annotator_name"] }}</code>
                        in <code>{{ doc["project_name"] }}</code>
                        {% endif %}
                    </p>
                    <p>
                        {{ doc["title"] }}
                    </p>
                </header>
                <div class="labelrepo-flow doc-participants-content">
                    {% if doc.get("extraction_failed") %}
                    <div class="labelrepo-error-message">
                        <code class="labelrepo-pre-wrap">
                        {{- doc.get("error_message", "Error") -}}
                        </code>
                    </div>
                    {% elif not doc["participants"] %}
                    <p>
                        No participant information annotated in this document (yet!).
                    </p>
                    {% else %}
                    {% if doc["participants"].tree.attributes["count"] %}
                    <p>
                        <strong>{{ sourced(doc["participants"].tree.attributes["count"], doc, "total-count") }}</strong> participants
                    </p>
                    {% else %}
                    <div class="labelrepo-warning-message">
                        could not infer total number of participants.
                    </div>
                    {% endif %}
                    {% for group_name, subgroup_name, subgroup in doc["participants"].subgroups() | sort %}
                    {% set subgroup_id = "group-" + (group_name | md5) + "-subgroup-" + (subgroup_name | md5) %}
                    <div class="participants-subgroup {{ group_name }}-subgroup">
                        <h3>{{ group_name | capitalize }}
                            {{ "participants" if group_name == "healthy" }}
                            {% if subgroup_name != "_" %} &nbsp;
                            <span class="group-label-extra-data">{{ subgroup_name }}</span>
                            {% endif %}
                        </h3>
                        {% if "diagnosis" in subgroup.attributes %}
                        <p>
                            Diagnosis: <strong>{{ sourced(subgroup.attributes["diagnosis"], doc, "diagnosis-" + subgroup_id ) }}</strong>
                        </p>
                        {% elif group_name == "patients" %}
                        <div class="labelrepo-warning-message">
                            missing diagnosis.
                        </div>
                        {% endif %}
                        <p>
                            {% set sep = cycler("", ",", ",", ",") %}
                            {% if subgroup.attributes["count"] %}
                            {{ sep.next() }}
                            <strong>{{ sourced(subgroup.attributes["count"], doc, "count-" + subgroup_id) }}</strong>
                            {{ "participants" if group_name == "healthy" else "patients" -}}
                            {% else %}
                            <div class="labelrepo-warning-message">
                                could not infer the number of participants in this subgroup.
                            </div>
                            {%- endif -%}
                            {%- for sex in ("female", "male") if sex in subgroup.children and "count" in subgroup.children[sex].attributes -%}
                            {{ sep.next() }}
                            {% set sex_group = subgroup.children[sex] %}
                            <strong>{{ sourced(sex_group.attributes["count"], doc, sex + "-count-" + subgroup_id  ) }}</strong> {{ sex }}s
                            {%- endfor -%}
                            {% if ('age minimum' in subgroup.attributes) or ('age maximum' in subgroup.attributes) -%}
                            <p>
                            Age range:
                            <strong>{{ sourced(subgroup.attributes.get("age minimum"), doc, "age-min-" + subgroup_id) }}</strong> –
                            <strong>{{ sourced(subgroup.attributes.get("age maximum"), doc, "age-max-" + subgroup_id) }}</strong> years
                            </p>
                            {%- endif -%}
                            {% for metric in ['age mean', 'age median'] %}
                            {% if metric in subgroup.attributes %}
                            <p>
                                {{ metric | capitalize }}: <strong>{{ sourced(subgroup.attributes[metric], doc, metric + "-" + subgroup_id, '{:.1f}') }}</strong> years
                            </p>
                            {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <footer>
                    {% if doc["participants"] and not doc["extraction_failed"] %}
                    {% set tree = doc["participants"].tree %}
                    {% include "participant_tree.html" %}
                    {% endif %}

                    <div id="selected-sourced-reason-doc-{{ doc["doc_uid"] }}" class="labelrepo-selected-sourced-reason labelrepo-debug-details"></div>
                    {% for annotation_stack in doc["annotation_stacks"] %}
                    <div class="hidden-annotation-stack" id="anno-{{ annotation_stack["start_char"] }}-{{ annotation_stack["end_char"] }}-{{ doc['doc_uid'] }}"
                         {% if doc["extraction_failed"] and "participants" in doc %}
                         {% if doc["participants"].error.error_positions.__contains__((annotation_stack["start_char"], annotation_stack["end_char"])) %}
                         data-is-selected="true"
                         {% endif %}
                         {% endif %}
                         >
                    {% include "annotation_stack.html" %}
                    </div>
                    {% endfor %}
                </footer>
            </article>
            {% endfor %}
{% if standalone %}
                </div>
        </main>
    </body>
</html>
{% else %}
            </div>
            </div>
{% endif %}
