:root {
    --annotation-data-font: monospace;
}

.annotation-set {
    margin: 0px;
}

.annotation-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    gap: 1rem;
    padding: 1rem;
}

.annotation {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2), 0px 4px 10px 0px rgba(0, 0, 0, .2);
    overflow: hidden;
    font-family: sans-serif;
    max-width: 70ch;
}

.annotation .annotation-header {
    font-family: var(--annotation-data-font, sans-serif);
    font-weight: bold;
    background: var(--label-color, LightGray);
    padding: 0.5rem;
    border-block-end: 1px solid rgba(0, 0, 0, 0.2);
}

.annotation .context {
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    line-height: 1.5;
    flex-grow: 1;
}

.annotation .annotated-text {
    background: var(--label-color, LightGray);
    font-weight: bold;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
}

.annotation .annotation-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    row-gap: 0.5rem;
    font-family: var(--annotation-data-font, sans-serif);
    padding: 0.5rem;
    background: #e0e0e0;
    border-block-start: 1px solid rgba(0, 0, 0, 0.2);
}

.annotation .extra-data::before {
    content: "Extra data: ";
    font-weight: bold;
}

.annotation .annotator-name::before {
    content: "Annotator: ";
    font-weight: bold;
}

.annotation .project-name::before {
    content: "Project: ";
    font-weight: bold;
}
